@media screen and (max-width: 1200px){

}

@media screen and (max-width: 768px){
    .header-typo{
        text-align: center;
        margin: 80px 10px;
    }
    .header-form{
        position: relative;
        top: 50px;
        margin-left: 34%;
        width: 50%;
    }
    header .book-appointment{
        position: absolute;
        bottom: 50px;
        margin-left: 21%;
    }
}
@media screen and (max-width: 480px){
    .top-bar{
        display: none;
    }
    .site-logo{
        font-size: 28px;
    }
    .menu-icon::after{
        content:'\f0c9';
        font-family: FontAwesome;
        font-size: 28px;
        color: lavender;
        margin: 0 20px;
        padding: 10px;
        cursor: pointer;
    }
    .nav-links{
        display: none;
    }
    .header-form{
        display: none;
    }
    .header-typo h2{
        line-height: 60px;
    }
    #mobile-device{
        display:block;
    }
    header .book-appointment{
        text-align: center;
        position:relative;
        margin-left: 10%;
    }
    header .book-appointment a:last-child{
        
        margin-left: 0;
    }
    

}