/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap');
@font-face {
    font-family: 'base';
    src: url(/assets/fonts/RoguelandSlabBold.ttf);
}
*{
    margin: 0;
    padding:0;

    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}


/* Header section  */
header{
    width: 100%;
    height: 100vh;
    background: url('/assets/images/head_bg.jpg');
    background-position: center;
    background-size: cover;
}
.top-bar{
    width: 100%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef3d;
}
.top-bar a{
    color: #f8f9fa;
    font-family: 'Teko',sans-serif;
    letter-spacing: 1px;
    font-size: 24px;
}
.top-bar .contacts a:hover{
    border-bottom: 1px solid #dee2e6;
}
.top-bar .contacts{
    padding: 0 12px;
}
.top-bar .contacts a i{
    font-size: 16px ;
}
.top-bar .contacts a{
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;
}
.top-bar .book-appointment{
    background:  #f8f9f9;
    color: #343a40;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 12px;
}
.top-bar .book-appointment a{
    color: #343a40;
    line-height: 40px;
    border-bottom: none;
}
.top-bar .book-appointment a:hover{
    border-bottom: 1px solid #6c757d;
}

.nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding: 0 20px;
}
.logo a{
    color: #f8f9fa;
    font-size: 32px;
    font-family: 'base';
    transition: all 1s ease;
}
.logo a span{
    color: #06d6a0;
}
.logo a:hover{
    color: #06d6a0;
}
nav{
    padding: 0 20px;
}
nav ul {
    display: flex;
}
nav ul li a{
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Teko',sans-serif;
    letter-spacing: 2px;
    font-size: 22px;
    color: #f8f9f9;
    padding: 0 20px;
    transition: color 1s ;
}
nav ul li a:hover{
    color: #06d6a0;
}

.hero{
    display: grid;
    height: calc(100vh - 100px);
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.hero .typo{
    width: 80%;
    padding: 0 20px;
    color: #dee2e6;
    font-family: 'Montserrat',sans-serif;
}
.typo h2{
  font-size: 32px;
  padding-bottom: 20px;
}
.typo p{
    font-size: 18px;
    padding-bottom: 42px;
}
.typo a{
    background: #dee2e6;
    color:#6c757d;
    padding: 8px 12px;
}
.typo a:hover{
    color: #343a40;
}

.contact-form{
    width: 70%;
    background:rgba(0,0,0,0.2);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.contact-form input, .contact-form textarea{
    height: 50px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0.4);
    padding: 5px 2px;
    color: #dee2e6;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    transition: all 1s ease;
}
.contact-form input:focus, textarea:focus{
    border-bottom: 2px solid #dee2e6;
}
.full-name,.form-contact,.query{
    width: 100%;
}
.full-name input[name='fname'],
.full-name input[name='lname'],
.form-contact input[name='phone'],
.form-contact input[name='email']{
    width: 48%;    
}
.query textarea[name='query']{
    width: 97%;
    height: 120px;
    resize: none;
    padding: 14px 0;
}
.submit{
    text-align: right;
    width: 97%;
}

.contact-form button{
    padding: 8px 12px;
    background: transparent;
    border: 2px solid #dee2e6;
    color: #dee2e6;
    margin-top: 20px;
    font-size: 18px;
    transition: all 1s ease;
}
.contact-form button:hover{
    background: #dee2e6;
    color:#343a40;
}

/* About section */

#about-us{
    background-position: center;
    background: url('/assets/images/pattern.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 20px;
    width: 100%;
    align-items: center;
}
.about-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 99%;
    padding: 8px;
}
#about-us .title{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}
#about-us .title p{
    color:#6c757d;
    font-family: 'Montserrat',sans-serif;
}
#about-us .title h2{
    color:#343a40;
}
.abtimg{
    width: 40%;
}
.abtimg img{
    width: 100%;
}
.abttxt{
    width:40%;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}
.abttxt p{
    letter-spacing: 1px;
    color: #6c757d;
    padding: 10px;
}


/* style for services section */
#services{
    width: 100%;
    background: url('/assets/images/pattern.png');
    
}
#services .title{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    padding: 20px 0;
}
#services .title h2{
    color: #343a40;
}
#services .title p{
    color: #6c757d;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 96%;
    row-gap: 24px;
    
}
.card{
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card .icon i{
    font-size: 42px;
    padding: 4px;
    color: #06d6a0;
}
.card .title h3{
    color: #343a40;
    font-family: 'Montserrat',sans-serif;
    padding: 5px 0;
}
.card .desc{
    text-align: center;
}
.card .desc p{
    color: #6c757d;
    font-family: 'Montserrat',sans-serif;
    width: 94%;
}

/* Contact Style */

#contact{
    width: 100%;
    background: url('/assets/images/pattern.png');
    margin-top: 20px;   
}
#contact .title{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    padding: 20px 0;
}
#contact .title h2{
    color: #343a40;
}
#contact .title p{
    color: #6c757d;
}

label{
    color: #343a40;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    display: block;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight: 400;
}
.cf-main{
    display: flex;
    justify-content: center;
}
.form-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.form-container .full-name, .contact-details{
    width: 100%;
    display: flex;
    column-gap: 30px;
}
.fname-group,
.lname-group,
.phone-group,
.email-group{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 50%;
}
.form-container input[type='text'],
.form-container input[type='tel'],
.form-container input[type='email'],
.form-container select, 
.form-container textarea,
.form-container button{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    padding: 4px 10px;
    border: 1px ridge #6c757d;  
    color:#6c757d;
    font-family: 'Montserrat',sans-serif;  
}
.form-container textarea{
    resize: none;
    height: 100px;
}
.form-container button{
    background: #06d6a0;
    color: #f8f9f9;
    font-weight: 500;
    border: none;
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    transition: all 0.6s;
}
.form-container button:hover{
    background: #0dffbe;
}

/* Footer Styling */
footer{
    background:#343a40;
    color: #dee2e6;
    width: 100%;
    padding: 15px;
    padding-bottom: 0px;
    margin-top: 20px;
}
.footer-fluid-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 16px;
    font-family: 'Montserrat',sans-serif;
}

.footer-item{
    width: 24%;
}
.footer-item li{
    margin: 4px 0;
}
.footer-item h3{
    margin: 10px 0;
}
.footer-bar{
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
}
.footer-bar p{
    line-height: 30px;   
}

/* ctoa style */
.ctoa{
    width: 100%;
    padding: 20px 30px;
    background: url('/assets/images/white-abstract.jpg');
    box-shadow: 4px 0 8px 0 rgba(0,0,0,0.2);
}
.ctoa-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.ctoa-typo{
    width: 50%;
    font-family: 'Montserrat',sans-serif;
}
.ctoa-img{
    width: 40%;
}
.ctoa-img img{
    width: 100%;
}
.ctoa-typo h2{
    color:#343a40;
    margin-bottom: 20px;
}
.ctoa-typo p{
    color:#6c757d;
    margin-bottom: 30px;
}
.ctoa-buttons{
    display: flex;
    column-gap: 20px;
}
.ctoa-buttons a{
    padding: 8px 12px;
    transition: all 1s;
}
.ctoa-buttons a:first-child{
    color: #343a40;
    border: 2px solid #343a40;
}
.ctoa-buttons a:first-child:hover{
    color: #f8f9f9;
    background: #343a40;
}
.ctoa-buttons a:last-child{
    color: #f8f9f9;
    background: #343a40;
    border: 2px solid #343a40;
}
.ctoa-buttons a:last-child:hover{
    color: #343a40;
    background: transparent;
    
    
}