@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background: url('/assets/images/head_bg.jpg');
    background-position:center;
    height: 100vh;
    max-width: 100%;
}

header .top-bar{
    max-width: 100%;
    background: transparent;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;  
    border-bottom: 1px groove rgba(241, 243, 245, 0.526);
}
header .top-bar .contact-details{
    color:aliceblue;
}
header .top-bar .social-widget::before{
    content: 'Follow us on ';
    color:aliceblue;
}
header .top-bar .social-widget a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 10px;
}
header .top-bar .social-widget a i{
    font-size: 1.2rem;
}
header .top-bar .social-widget a:hover{
    color: #ccc;
}
/* header .top-bar .book-appointments a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    background: rgb(6, 97, 92);
    border-radius: 20px;
} */

/* hamburger icon */
.menu-icon{
    position: relative;
    float: right;
    width: 48px;
    display: none;
}
.menu-icon i{
    color:aliceblue;
    font-size: 36px;
    margin-top: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a.site-logo{
    text-decoration: none;
    color:aliceblue;
    font-size: 32px;
    font-weight: 500;
    margin-left: 20px;
    cursor: pointer;
    line-height: 60px;
}
.nav-links{
    display: block;
}
.nav-links ul{
    display: flex;
}
.nav-links ul li{
    list-style: none;
}
.nav-links ul li a{
    text-decoration: none;
    color:aliceblue;
    line-height: 60px;
    padding: 12px;
    font-size: 1.2rem;
}
.nav-links ul li a.active,
.nav-links ul li a:hover{
    color: tomato;
}

.about-container{
    height: 100vh;
    background: #ccc;
}

/* style for slider */
.slider{
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-top: 250px;
}
.slider-container{
    /* width: 400%; */
    display: flex;
    position: relative;
    right: 0;
    top: 0;
    animation: slider linear 24s  infinite;
}
.slider-content{
    width: 100%;
    padding: 10px;
    flex-shrink:0;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-content .slider-heading{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
}
.slider-content .slider-description{
    margin-top: 10px;
    width: 75%;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

@keyframes slider{
    0% {right: 0;}
    13% {right: 0;}
    16%{right: 100%;}
    29%{right: 100%;}
    32%{right: 200%;}
    45%{right: 200%;}
    48%{right: 300%;}
    65%{right: 300%;}
    68%{right: 200%;}
    79%{right: 200%;}
    82%{right: 100%;}
    97%{right: 100%;}
    100%{right: 0;}
}
.slider-container:hover
{
	animation-play-state: paused;
}
/* css slider code end */

/* Style for book appointment */
.appointment-container{
    width: 100%;
    
    margin-top: 80px;
}
.appointment-container a{
    text-decoration: none;
    color: aliceblue;
    background: tomato;
    margin-left: calc(50% - 100px);
    padding: 10px 20px;
    border-radius: 20px;
}

/* Responsive style */

@media screen and (max-width: 927px){
    nav{
        display: block;
    }
    .menu-icon{
        display: block;
    }
    .nav-links{
        display: none;
    } 
    .nav-links.active{
        display: block;
    }
    .nav-links.active ul{
        display: block;
    }
    .slider{
        margin-top: 150px;
        height: auto;
    }
}
@media screen and (max-width: 640px){
    header .top-bar{
        display: none;
    }
    nav a.site-logo{
        font-size: 26px;
    }
    .menu-icon{
        display: block;
    }
    
    .slider{
        margin-top: 80px;
        height: auto;
    }
    .slider-content .slider-heading{
        font-size: 24px;
    }
    .slider-content .slider-description{
        width: 95%;
        font-size: 18px;
    }
    .appointment-container{
        margin-top: 40px;
    }
}