@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#home{
    background: url('../images/head_bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}
#home_about{
    background: url('../images/about.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}
#home_service{
    background: url('../images/service.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}
#home_contact{
    background: url('../images/contact.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}


.top-bar{
    height: 36px;
    width: 100%;
    border-bottom: 1px ridge rgba(255,255,255,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: lavender;
}
.top-bar a{
    text-decoration: none;
    color: lavender;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    padding: 16px;
} 
.top-bar a:hover{
    color: #00C9A7;
}
.top-bar .contact-details{
    margin: 0 36px;
}
.top-bar .social-widget{
    margin: 0 36px;
}

nav{
    background: transparent;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-logo{
    text-decoration: none;
    color: lavender;
    font-family: 'Montserrat' sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 0 20px;
    padding: 10px;
}
.nav-links{
    position: relative;
    margin: 0 20px;
}
.nav-links ul{
    display: flex;
}
.nav-links ul li{
    list-style: none;
}
.nav-links ul li a{
    text-decoration: none;
    color: lavender;
    padding: 8px;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
}
.nav-links ul li a.active{
    color: #00C9A7;
}
.nav-links ul li a:hover{
    border-bottom: 4px solid #00C9A7;
    
    transition: 0.3s ease;
}

.header-typo{
    margin: 120px 30px;
}

#mobile-device{
    display:none;
}
.header-typo h2{
    color: lavender;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}
.header-typo h2 span{
    background: #00C9A7;
    color:lavender;
    padding: 6px 2px;
}
header .book-appointment{
    margin: 200px 36px 56px 48px;
}

header .book-appointment a{
    text-decoration: none;
    color:#049c67;
    background: transparent;
    font-size: 22px;
    border: 1px solid #005A3A;
    border-radius: 8px;
    padding: 8px 12px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}
header .book-appointment a:last-child{
    color:#E8F3F1;
    margin-left: 16px;
    border-color: #E8F3F1;
}
header .book-appointment a:hover{
    background: #005A3A;
    transition: 0.8s ease;
    color: #E8F3F1;
}
header .book-appointment a:last-child:hover{
    background: #E8F3F1;
    color: #005A3A;
}

.header-form{
    position: absolute;
    right: 10%;
    width: 350px;
    top: 25%;
}
.header-form form{
    padding : 20px;
    text-align: center;
}
.header-form input{
    padding: 10px;
    width: 100%;
    margin: 2px 0; 
    background: transparent;
    border: none;
    border-bottom: 2px solid #00C9A7;
    color: lavender;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    outline: none;
    border-radius: 10px;
}
.header-form input:focus{
    border-bottom: 2px solid #005A3A;
}
.header-form input::placeholder{
    color:lavender;
}
.header-form input[type=textarea]{
    height: 80px;
}
.header-form button{
    padding: 20px;
    width: 100%;
    margin-top: 18px;
    background: #00C9A7;
    border: 2px solid #00C9A7;
    border-radius: 10px;
    color: lavender;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.header-form button:hover{
    background: transparent;
}



